.container
  h1 Logs index
  br

.panel.panel-default
  .panel-heading
    h3 Last 20 logs
  table.table.table-striped.table-bordered
    tr
      th UserId
      th Controller
      th Action
      th URL
      th Created on
    - @logs.each do |l|
      tr
        td = l.login
        td = l.controller
        td = l.action
        td = l.url
        td = l.created_at