h2
  | Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label t('simple_form.contact.email')
    br/
    = f.email_field :email, autofocus: true
  .field
    = f.label t('simple_form.contact.login')
    br/
    = f.text_field :login
  .field
    = f.label t('simple_form.contact.firstname')
    br/
    = f.text_field :firstname
  .field
    = f.label t('simple_form.contact.lastname')
    br/
    = f.text_field :lastname
  .field
    = f.label t('simple_form.contact.phone')
    br/
    = f.text_field :phone
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label t('simple_form.contact.password')
    br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label t('simple_form.contact.password_confirmation')
    br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    br
    = f.password_field :current_password, autocomplete: "off"

    br
    br
    br
    - photo1 = @user.data_photo.to_s.sub!('"]', "")
    = image_tag src="data:image/jpeg;base64,#{photo1}"
    br
    br
    br
  .actions
    = f.submit

= link_to t('devise.registrations.edit.back'), :back
