h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label t('simple_form.contact.email')
    br/
    = f.email_field :email, required: true, autofocus: true, autocomplete: "off"
  .field
    = f.label t('simple_form.contact.login')
    br/
    = f.text_field :login, required: true, autocomplete: "off"
  .field
    = f.label t('simple_form.contact.firstname')
    br/
    = f.text_field :firstname
  .field
    = f.label t('simple_form.contact.lastname')
    br/
    = f.text_field :lastname
  .field
    = f.label t('simple_form.contact.phone')
    br/
    = f.text_field :phone
  .field
    = f.label t('simple_form.contact.password')
    - if @minimum_password_length
      em
        | (#{@minimum_password_length} characters minimum)
    br/
    = f.password_field :password, required: true, autocomplete: "off"
  .field
    = f.label t('simple_form.contact.password_confirmation')
    br/
    = f.password_field :password_confirmation, required: true, autocomplete: "off"
  .actions
    = f.submit t('devise.common.sign_up')
= render "devise/shared/links"
