.row
  .col-sm-12
    = simple_form_for @student, :url => filter_student_url do |f|

      .col-sm-4
        = f.input :login

      .col-sm-5
        = f.input :cn

      .col-sm-3
        = f.input :uidnumber

      .col-sm-2
        = f.submit t('student.filter'), :class => "btn btn-info"

      .col-sm-2
        = link_to t('student.reset'), students_path, :class => "btn btn-info"
