- if @entries
  table.table.table-striped
    tr
      td
        b uidNumber
        - if params[:action] == "index"
          | &nbsp;&nbsp;
          = link_to "ASC", students_url( :uidNumber => "ASC" )
          | &nbsp;&nbsp;
          = link_to "DESC", students_url( :uidNumber => "DESC" )
      td
        b uid
        - if params[:action] == "index"
          | &nbsp;&nbsp;
          = link_to "ASC", students_url( :uid => "ASC" )
          | &nbsp;&nbsp;
          = link_to "DESC", students_url( :uid => "DESC" )
      td
        b cn
        - if params[:action] == "index"
          | &nbsp;&nbsp;
          = link_to "ASC", students_url( :cn => "ASC" )
          | &nbsp;&nbsp;
          = link_to "DESC", students_url( :cn => "DESC" )
      td
        b givenName
        - if params[:action] == "index"
          | &nbsp;&nbsp;
          = link_to "ASC", students_url( :givenName => "ASC" )
          | &nbsp;&nbsp;
          = link_to "DESC", students_url( :givenName => "DESC" )
      td
        b sn
        - if params[:action] == "index"
          | &nbsp;&nbsp;
          = link_to "ASC", students_url( :sn => "ASC" )
          | &nbsp;&nbsp;
          = link_to "DESC", students_url( :sn => "DESC" )
    - @entries.each do |f|
      tr
        td = f.uidNumber.to_s.sub!('["', "").sub!('"]', "")
        td = f.uid.to_s.sub!('["', "").sub!('"]', "")
        td = f.cn.to_s.sub!('["', "").sub!('"]', "")
        td = f.givenName.to_s.sub!('["', "").sub!('"]', "")
        td = f.sn.to_s.sub!('["', "").sub!('"]', "")
