tr
  td
    = ticket.user_login.truncate(10)
    = " (" + ticket.user_id.to_s + ")"
  td = ticket.title.truncate(32)
  td = ticket.message.truncate(22)
  td = ticket.open
  td
    = ticket.admin_assign_login
    = " (" + ticket.admin_assign_id.to_s + ")"
  td
    = link_to t('ticket.edit'), ("/" + I18n.locale.to_s + "/adm/ticket/" + ticket.id.to_s + "/edit")
    | &nbsp;&nbsp;
    = link_to t('ticket.show'), ("/" + I18n.locale.to_s + "/adm/ticket/" + ticket.id.to_s)
    /| &nbsp;&nbsp;
    /= link_to t('ticket.delete'), ("/" + I18n.locale.to_s + "/tickets/" + ticket.id.to_s), method: :delete, data: { confirm: 'Are your sure ?'}