tr
  td
    = ticket.open
  td
    = ticket.title
  td
    = ticket.message
  td
    = ticket.admin_assign_id
    | &nbsp;&nbsp;
    = ticket.admin_assign_login
  td
    = link_to t('ticket.edit'), ("/" + I18n.locale.to_s + "/tickets/" + ticket.id.to_s + "/edit")
    | &nbsp;&nbsp;
    = link_to t('ticket.Montrer'), ("/" + I18n.locale.to_s + "/tickets/" + ticket.id.to_s)
    /| &nbsp;&nbsp;
    /= link_to t('ticket.delete'), ("/" + I18n.locale.to_s + "/tickets/" + ticket.id.to_s), method: :delete, data: { confirm: t('ticket.are_your_sure?')}