br
.container
  = simple_form_for(resource, :as => resource_name, :url => ticket_path, method: :patch) do |f|
    .panel.panel-primary
      .panel-heading
        h2 = t('ticket.edit_ticket_user')
      .panel-body
        - if @ticket.errors.any?
          .alert.alert-danger
            h4
              = pluralize(@ticket.errors.count, "error")
              | &nbsp;&nbsp;prohibited this ticket from being saved:
              ul
                - @ticket.errors.full_messages.each do |msg|
                  li = msg

        br
        br
        .row
          .col-sm-3
            .panel.panel-default
                .panel-heading
                  h4 = t('ticket.open?')
                .panel-body
                  = @ticket.open
          .col-sm-3
            = f.input :open, :label => "Status:", :collection => [true, false], :include_blank => false
        br
        = f.input :title, :label => t('ticket.title')
        br
        = f.input :message, :label => t('ticket.message')
        br
        = f.submit t('ticket.send')
