br
.container
  = simple_form_for(resource, :as => resource_name, :url => adm_ticket_edit_path, method: :patch) do |f|
    .panel.panel-primary
      .panel-heading
        h2 = t('ticket.edit_ticket_admin')
      .panel-body
        - if @ticket.errors.any?
          .alert.alert-danger
            h4
              = pluralize(@ticket.errors.count, "error")
              | &nbsp;&nbsp;prohibited this ticket from being saved:
              ul
                - @ticket.errors.full_messages.each do |msg|
                  li = msg

        br
        br
        .row
          .col-sm-3
            .panel.panel-default
              .panel-heading
                h4 = t('ticket.assigned_to')
              .panel-body
                = @ticket.admin_assign_login
          .col-sm-3
            = f.input :admin_assign_id, :label => "Assignation d'admin", :collection => @admins, :label_method => :login, :value_method => :id, :include_blank => false

        br
        br
        .row
          .col-sm-3
            .panel.panel-default
              .panel-heading
                h4 = t('ticket.open?')
              .panel-body
                = @ticket.open
          .col-sm-3
            = f.input :open, :label => "Status:", :collection => [true, false], :include_blank => false
        br
        = f.input :title, :label => t('ticket.title')
        br
        = f.input :message, :label => t('ticket.message')
        br
        = f.submit t('ticket.send')