br
.panel.panel-default
  .panel-heading
    h2 = t('ticket.list_no_assign')
  table.table.table-striped.table-bordered
    tr
      = render 'admin_table_header'
    - @tickets.ticket_no_assign.each do |ticket|
      = render 'admin_table_line', {:ticket => ticket}

.panel.panel-default
  .panel-heading
    h2 = t('ticket.list_to_manage')
  table.table.table-striped.table-bordered
    tr
      = render 'admin_table_header'
    - @tickets.ticket_assign_to_me(current_user.id).each do |ticket|
      = render 'admin_table_line', {:ticket => ticket}

.panel.panel-default
  .panel-heading
    h2 = t('ticket.list_opened_full')
  table.table.table-striped.table-bordered
    tr
      = render 'admin_table_header'
    - @tickets.ticket_open_all.each do |ticket|
      = render 'admin_table_line', {:ticket => ticket}

.panel.panel-default
  .panel-heading
    h3 = t('ticket.list_close_full')
  table.table.table-striped.table-bordered
    tr
      = render 'admin_table_header'
    - @tickets.ticket_close_all.each do |ticket|
      = render 'admin_table_line', {:ticket => ticket}