h1 New Ticket

div
  = simple_form_for(resource, :as => resource_name, :url => tickets_path) do |f|
    - if @ticket.errors.any?
      .alert.alert-danger
        h4
          = pluralize(@ticket.errors.count, "error")
          | &nbsp;&nbsp;prohibited this ticket from being saved:
          ul
            - @ticket.errors.full_messages.each do |msg|
              li = msg

    = f.input :title, :label => t('ticket.title'), :placeholder => t('ticket.title')
    = f.input :message, :label => t('ticket.message'), :plaholder => t('ticket.message')
    = f.submit t('ticket.send')