.container
  br
  .panel.panel-primary
    .panel-heading
      h2
        = "Ticket: "
        = @ticket.id
    .panel-body
      ul.nav.nav-tabs
        li
          = link_to t('ticket.edit'), ("/" + I18n.locale.to_s + "/tickets/" + @ticket.id.to_s + "/edit")
        li
          = link_to t('ticket.Montrer'), ("/" + I18n.locale.to_s + "/tickets/" + @ticket.id.to_s)
        li
          = link_to t('ticket.delete'), ("/" + I18n.locale.to_s + "/tickets/" + @ticket.id.to_s), method: :delete, data: { confirm: t('ticket.are_your_sure?')}
      br
      .container.row
        .col-sm-3
          .panel.panel-default
            .panel-heading
              h4 = t('ticket.open?')
            .panel-body
              = @ticket.open
        .col-sm-3
          .panel.panel-default
            .panel-heading
              h4 = t('ticket.assigned_to')
            .panel-body
              - if @ticket.admin_assign_id == nil || @ticket.admin_assign_login.blank?
                = t('ticket.list_no_assign_one')
              - else
                = @ticket.admin_assign_login
                = " (" + @ticket.admin_assign_id.to_s + ")"

      .panel.panel-default
        .panel-heading
          h4 = t('ticket.title')
        .panel-body
          = @ticket.title

      .panel.panel-default
        .panel-heading
          h4 = t('ticket.message')
        .panel-body
          = @ticket.message

.container
  -if @ticket.comments.count > 0
    br
      h3 = t('ticket.replies')
      br
      - @ticket.comments.each do |comment|
        .panel.panel-default
          .panel-heading
            h4 = comment.login
          .panel-body
            = comment.body

.container
  br
  br
  h3 = t('ticket.reply')
  = simple_form_for(comment_resource, :as => comment_resource_name, :url => ("/" + I18n.locale.to_s + "/tickets/" + @ticket.id.to_s + "/comments")) do |f|
    - if @ticket.errors.any?
      .alert.alert-danger
        h4
          = pluralize(@ticket.errors.count, "error")
          = t('ticket.prohibited_this_ticket_from_being_saved')
          ul
            - @ticket.errors.full_messages.each do |msg|
              li = msg
    = f.input :body, :label => false, :placeholder => t('ticket.message')
    = f.submit t('ticket.send')
