.container
  h1 = t('ticket.all_my_tickets')
  h3 = link_to t('ticket.create_new_ticket'), main_app.new_ticket_path

.panel.panel-default
  .panel-heading
    h4 = t('ticket.list_opened_full')
  table.table.table-striped.table-bordered
    = render 'user_table_header'
    - @tickets.user_ticket_open_all(current_user.id).each do |ticket|
      = render 'user_table_line', {:ticket => ticket}
hr

.panel.panel-default
  .panel-heading
    h4 = t('ticket.list_close_full')
  table.table.table-striped.table-bordered
    = render 'user_table_header'
    - @tickets.user_ticket_close_all(current_user.id).each do |ticket|
      = render 'user_table_line', {:ticket => ticket}
hr