.container
  h1 Sujet Framework 1

  h2
    | Chapitre II
  h3
    | Sujet
  h4
    | II.1 Internationalisation
  br
  p = "Comme première feature, sur votre page d’accueil, vous devez pouvoir choisir la langue de votre site. Tout le site sera traduit dans la langue selectionnée. Pensez a utiliser la puissance de votre framework. Quand vous vous déconnectez de votre site, il doit enregistrer la langue choisie pour une prochaine connexion."

  br
  h4 II.2 forum

  p
    = "Vous devez implémenter un forum a l’image de celui qui est a présent sur l’(ancien) intra. Voici les principales règles a respecter."
    br
    br
    b = "** Catégories : "
    = "Vous devez pouvoir ajouter / modifier / supprimer des catégories."
    br
    br
    b = "** Sous-Catégories : "
    = "Même consigne que pour les catégories."
    br
    br
    b = "** Threads : "
    = "Les threads peuvent appartenir a une catégorie ou a une sous-catégorie. Vous devez pouvoir repondre dans un thread et commenter une réponse."

  br
  h4 II.3 tickets

  p
    = "Cette partie consiste a mettre en place un gestionnaire de tickets afin de résoudre les éventuels problèmes utilisateurs."
    br
    br
    b = "** Création de tickets : "
    = "Tous les utilisateurs peuvent créer un ticket."
    br
    br
    b = "** Spool de tickets : "
    = "Les tickets créés arrivent dans le spool, seuls les admins y ont accès. C’est ici que les admins peuvent répondre ou attribuer les tickets a un autre admin."
    br
    br
    b = "** état d’un ticket : "
    = "Le ticket peut être ouvert ou fermé. Une fois fermé, il peut être réouvert par celui qui l’a créé ou un admin."

  br
  br
  h2
    | Chapitre III
  h3
    | Rendu
  br
  p
    = "** Vous devez rendre à la racine de votre dépôt le dossier complet de votre framework."
  br
  p
    = "** Pour la correction, vous devez uniquement cloner le dépôt dans le dossier pointé par le virtualhost de votre serveur web."
  br
  p
    = "** Seul le contenu présent dans votre dépôt sera évalué en soutenance."
  br
  p
    = "** Tout fichier inutile au projet sera pénalisé."

  h2
    | Chapitre IV
  h3
    | Consignes

  br
  p  = "Les consignes suivantes seront présentes dans le barème de soutenance. Soyez très attentifs lors de l’application de ces dernières car elles seront sanctionnées par un 0 sans appel."

  p = "** Pour ce projet, vous avez le droit d’utiliser tous les langages que vous souhaitez."

  p = "** Les templates HTML sont autorisés."

  p = "** Ce projet ne sera corrigé que par des humains."

  p = "** Vous devez gérer les erreurs de manière sensible (ex : pas d’injection SQL possible)."

  p = "** L’arborescence de votre projet est indispensable, vous devez suivre la logique de votre framework."

  p = "** Tout ce qui n’est pas explicitement autorisé est interdit."

  p = "** Pour toute question, merci de passer par le forum."

  p = "Bon courage à tous !"