.container
  h1 Sujet Framework 0

  h2 Chapitre II

  h3 Sujet
  h4 II.1
  h5 Installation et Configuration

  p
    | Suite à la piscine PHP, vous allez maintenant pratiquer la mise en place et l’utilisation
    | d’un framework. Vous aller avoir deux projets qui suivent et qui vont utiliser cette base
    | que vous aurez préparé. Pour ceux qui ne savent pas ce qu’est un framework, vous pouvez
    | consulter cette page web : ici.

  p
    | Pour cette première étape, nous vous demandons d’installer et de configurer correc-
    | tement les éléments suivants :

  p
    | • Un serveur web : Vous devez installer un server web (au choix Apache, Nginx ou
    | Lighthttpd). Celui-ci doit avoir au minimum un VirtualHost. Il devra être capable
    | d’interpréter le code de votre site, peut importe le langage. À vous d’installer les
    | modules appropriés.

  p
    | • Un framework : Pour le choix du framework vous êtes libre d’utiliser celui que
    | vous voulez tant qu’il respecte le modèle MVC (Modèle, Vue, Controlleur) et vous
    | pouvez choisir le langage de votre choix.

  p
    | • Une base de données : Vous devez choisir la base de données la plus adapté à
    | votre langage/framework. Celle-ci devra être relié via les fichiers de configurations
    | proposés par le framework choisi.

  p
    | Vous devez rendre dans votre dépot uniquement le dossier du framework. Un ‘git
    | clone‘ dans un dossier pointé par votre virtual host devra rendre votre site fonctionnel.
    | La soutenance se fera donc sur votre poste, avec votre base de données et votre serveur
    | web pré-configuré. Vous n’aurez en revanche, pas le droit de toucher au code de votre
    | framework une fois l’heure du rendu atteinte.

  p
    | Cette partie est obligatoire et ne compte que pour la moitié de votre note.

  br
  br
  h4 II.2
  h5 Développement
  p
    | Pour vous permettre d’aller plus loin dans le développement de votre site, nous vous
    | proposons une liste de fonctionnalités. Pour que les points soient pris en compte, vous
    | devez avoir correctement effectué l’installation et la configuration de votre serveur, votre
    | framework et votre base de données.
  p
    | Voici la liste des éléments que vous devez mettre en place :
  p
    | • Une page d’accueil.
  p
    | • Une section login / logout / création de compte.
  p
    | • Un panel admin avec gestion des utilisateurs, des groupes, etc... (indice : CRUD).
  p
    | • De l’URL rewriting.
  p
    | • Une gestion des permissions correcte.
  p
    | • De l’encryption (aucun mot de passe en clair).
  p
    | • De l’HTTPS.
  p
    | • Formulaire de contact ou newsletter (envoi d’ e-mail).
  p
    | • De la validation de données (data validation).

  br
  br

  h2 Chapitre III
  h3 Rendu

  p
    | • Vous devez rendre à la racine de votre dépôt le dossier complet de votre framework.
  p
    | • Pour la correction, vous devez uniquement cloner le depot dans le dossier pointé
    | par le virtualhost de votre serveur web.
  p
    |• Seul le contenu présent dans votre dépot sera évalué en soutenance.
  p
    |• Tout fichier inutile au projet sera pénalisé.

  br
  br

  h2 Chapitre IV
  h3 Consignes
  p
    | Les consignes suivantes seront présentes dans le barème de soutenance. Soyez très
    | attentifs lors de l’application de ces dernières car elles seront sanctionnées par un 0 sans
    | appel.
  p
    | • Pour ce projet, vous avez le droit d’utiliser tout les langages que vous souhaitez.
  p
    | • Les templates HTML sont autorisés.
  p
    | • Ce projet ne sera corrigé que par des humains.
  p
    | • Vous devez gérer les erreurs de manière sensible (ex : pas d’injection SQL possible).
  p
    | • L’arborescence de votre projet est indispensable, vous devez suivre la logique de
    | votre framework.
  p
    | • Tout ce qui n’est pas explicitement autorisé est interdit.
  p
    | • Pour toute question, merci de passer par le forum.
  p
    | Bon courage à tous !