h1 = t('welcomes.h1_title')

h3.text-center
  = link_to 'Framework 0', sujet_framework0_path
  | &nbsp;&nbsp;&nbsp;
  = link_to 'Framework 1', sujet_framework1_path
  | &nbsp;&nbsp;&nbsp;
  = link_to 'Framework 2', sujet_framework2_path
  | &nbsp;&nbsp;&nbsp;
  = link_to 'Framework 3', sujet_bigwebproject_path

/ .container
/ .panel.panel-default
/   .panel-heading
/     h3 Last 20 logs
  / table.table.table-striped.table-bordered
  /   - if @result.present?
  /     - @result.each do |f|
  /       tr
  /         td dn
  /         td = f.dn
  /       tr
  /         td alias
  /         td
  /           - f.alias.each do |ert|
  /             = ert
  /             br
  /       tr
  /         td gidnumber
  /         td = f.gidnumber
  /       tr
  /         td loginshell
  /         td = f.loginshell
  /       tr
  /         td sn
  /         td = f.sn
  /       tr
  /         td uid
  /         td = f.uid
  /       tr
  /         td uidnumber
  /         td = f.uidnumber
  /       tr
  /         td cn
  /         td = f.cn
  /       tr
  /         td givenname
  /         td = f.givenname
  /       tr
  /         td homedirectory
  /         td = f.homedirectory
  /       tr
  /         = @entry
