h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

  .field
    = f.label "Login42"
    br
    = f.text_field :login42
    br

  / .field
  /   = f.label "Login"
  /   br
  /   = f.text_field :login, autofocus: true
  /   br

  / .field
  /   = f.label t('simple_form.contact.email')
  /   br
  /   = f.email_field :email
  /   br

  .field
    = f.label t('simple_form.contact.password')
    br
    / = f.password_field :password, autocomplete: "off"
    = f.password_field :password
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = " "
      = f.label t('simple_form.contact.remember')

  .actions
    = f.submit t('devise.common.sign_in')

= render "devise/shared/links"
