.container
  h1 = t('simple_form.contact.h1_title')

  - if @contact_error && !@contact_error.blank?
    .alert.alert-info
      = @contact_error

  = simple_form_for(:contact, url: contact_create_path, action: 'post') do |f|
    = f.input :firstname, as: :string, label: t('simple_form.contact.firstname'), :required => false
    = f.input :lastname, as: :string, label: t('simple_form.contact.lastname'), :required => false
    = f.input :entity, as: :string, label: t('simple_form.contact.entity'), :required => false
    = f.input :phone, as: :string, label: t('simple_form.contact.phone'), :required => false
    = f.input :email, as: :email, label: t('simple_form.contact.email'), :required => true
    = f.input :title, as: :string, label: t('simple_form.contact.title'), :required => true
    = f.input :message, as: :text, label: t('simple_form.contact.message'), :required => true
    = f.submit t('simple_form.contact.send')