.container
  h1 Users List


.panel.panel-default
  .panel-heading
    h3 Last 20 logs
  table.table.table-striped.table-bordered
    tr
      th Email
      th Login
      th Firstname
      th Lastname
      th Phone
      th SiteAdmin?
      th ForumAdmin?
      th Action
    - @users.each do |f|
      tr
        td = f.email
        td = f.login
        td = f.firstname
        td = f.lastname
        td = f.phone
        td = f.current_admin
        td = f.current_admin_forum
        td = link_to "Log as #{f.login}", "/switch_user?scope_identifier=user_#{f.id}"