nav.navbar.navbar-default.navbar-fixed-top style="padding: 0px; padding-left: 20px; padding-right: 20px;"
  .navbar-collapse.collapse
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle aria-expanded="false" aria-haspopup="true" role="button" url='#'
          = I18n.locale.capitalize
          span.caret
        ul.dropdown-menu
          li = link_to_unless I18n.locale == :en, "En", locale: :en
          li = link_to_unless I18n.locale == :fr, "Fr", locale: :fr
      li = link_to t('navbar.homepage'), main_app.welcomes_path
      li = link_to t('navbar.forum'), forem.forums_path
      li = link_to t('navbar.students'), main_app.students_path
      li = link_to t('navbar.my_tickets'), main_app.user_tickets_path
      li = link_to t('navbar.contact'), main_app.contact_new_path
      li = link_to t('navbar.log_activity'), main_app.log_index_path
    ul.nav.navbar-nav style="margin-top: 15px; padding-left: 15px;"
      li
        - if current_user
          = t('navbar.connected_as')
          = current_user.login
          | &nbsp;&nbsp;&nbsp;
          = current_user.email.truncate(25)
    - if current_user && (current_user.forem_admin == true || current_user.current_admin == true)
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" role="button" url='#'
            = t('navbar.admin')
            span.caret
          ul.dropdown-menu
            - if current_user && current_user.forem_admin
                li = link_to t('navbar.forum_administration'), forem.admin_root_url
            - if current_user && current_user.current_admin == true
                li = link_to t('navbar.admin_site'), main_app.admin_root_path
                li = link_to t('navbar.admin_ticket'), main_app.tickets_path
                li = link_to "Utilisateurs", main_app.users_list_path

    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle aria-expanded="false" aria-haspopup="true" role="button" url='#'
          = t('devise.sessions.account')
          span.caret
        ul.dropdown-menu
          - if !current_user
            li = link_to t('devise.common.sign_in'), main_app.new_user_session_path
            / li = link_to t('devise.common.sign_up'), main_app.new_user_registration_path
          - else
            li = link_to t('devise.registrations.edit.edit'), main_app.edit_user_registration_path
            li = link_to t('session.sign_out'), main_app.destroy_user_session_path
